.container {
    font-family:Trebuchet MS;

    .form-group {
        text-align: center;
    }

    .alert {
        padding: 10px;
        color: red;
        font-size: 14px;
        font-style:italic;
    }

    .table-container {
        display: flex;
        justify-content: center;
    }
    
    .row {
        margin-top: 30px;
        background-color: #0086b3;
        padding: 20px;
    }

    .column {
        background-color: white;
        border-radius: 50%;
        margin-bottom: 10px;
        width: 60px;
        height: 60px;

        &.playerOne {
            background-color: rgb(67, 189, 28);
        }

        &.playerTwo {
            background-color: rgb(185, 24, 156);
        }
    }
}

.input-container {
    .button-class {
        box-shadow:inset 0px 1px 0px 0px #f29c93;
        background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
        border-radius:6px;
        border:1px solid #d83526;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Trebuchet MS;
        font-size:20px;
        font-weight:bold;
        font-style:italic;
        padding: 6px 24px;
        text-shadow:0px 1px 0px #b23e35;
        margin-left: 20px;

        &:active {
            position:relative;
            top:1px;
        }

        &:disabled,
        &[disabled]{
            opacity: 0.5;
        }
    }

    .input-class {
        padding: 5px;
        font-size: 20px;
        border-width: 1px;
        border-color: #CCCCCC;
        background-color: #FFFFFF;
        color: #000000;
        border-style: solid;
        border-radius: 0px;
        box-shadow: 0px 0px 5px rgba(66,66,66,.75);
        text-shadow: 0px 0px 0px rgba(66,66,66,.75);
    
        &:focus {
            outline:none;
        }
    }
    
}