<form class="container" [formGroup]="connectForm">
    <div class="form-group">
        <div class="input-container"> 
            <input
            type="number"
            class="input-class"
            formControlName="n"
            required>
            <button
            class="button-class"
            type="submit" 
            (click)="createTable(); clicked = true;"
            [disabled]="clicked || connectForm.invalid">
                Create Table
            </button>
            <button
            class="button-class"
            (click)="resetTable(); reset = true;"
            [disabled]="reset">
                Reset Table
            </button>
        </div>
        <div class="alert-danger">
            <div 
            class="alert" 
            *ngIf="connectForm.controls['n'].invalid">
                *Number is required and should be between 4 and 10.
            </div>
        </div>
        <div 
        class="table-container"
        *ngIf="showTable">
            <div 
            *ngFor="let row of matrix; let rows = index"
            class="row">
                <div 
                *ngFor="let column of row; let columns = index" 
                class="column"
                ngClass="{'secondColor': player === playerOne}"
                (click)="dropPiece(rows, columns)">
                {{rows +' '+columns}}
                </div>
            </div>
        </div>
        <div
        *ngIf="!showTable">
           <p>Let's do it!</p>
        </div>
    </div>
</form>